# https://pandoc.org/MANUAL.html#defaults-files
# https://github.com/jgm/pandoc/issues/5990#issuecomment-568322441

# markdown , markdown+emoji
from: markdown+emoji
# s5 , slidy , slideous , dzslides , revealjs
to: revealjs

input-files:
- index.md
output-file: public/index.html

verbosity: INFO

# sandbox: true
fail-if-warnings: true
standalone: true
# embed-resources: false
strip-comments: false
wrap: none
# Make list items in slide shows display incrementally (one by one)
incremental: false
email-obfuscation: references
slide-level: 0

# -c URL, --css=URL
css:
- css/style.css

# -M KEY[=VAL], --metadata=KEY[:VAL]
metadata:
#   key: true/false
#   key: val
  title: "Markdown ⇨ Pandoc ⇨ RevealJS"

# -V KEY[=VAL], --variable=KEY[:VAL]
variables:
  # revealjs-url: https://revealjs.com
  revealjs-url: https://unpkg.com/reveal.js@^3/
  # revealjs-url: https://cdnjs.com/libraries/reveal.js/4.4.0
  # revealjs-url: https://cdn.jsdelivr.net/npm/reveal.js@4.4.0
  # revealjs-url: https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.5.0/
  controls: true
  progress: true
  slideNumber: true
  showSlideNumber: all
  hashOneBasedIndex: true
  hash: true
  navigationMode: linear

# include-in-header
# - file.html
# include-before-body
# - file.html
# include-after-body
# - file.html

preserve-tabs: true
# title-prefix: string
