/*	style.css	*/

.slide h1
{
  text-transform: none !important;
  text-align: center !important;
}

.slide h2
{
  text-transform: none !important;
  text-align: center !important;
}

.slide h3
{
  text-transform: none !important;
  text-align: center !important;
}

.slide h4
{
  text-transform: none !important;
  text-align: center !important;
}

.slide h5
{
  text-transform: none !important;
  text-align: center !important;
}

.slide h6
{
  text-transform: none !important;
  text-align: center !important;
}
